{% extends "admin_layout.html" %}
{% block body %}
<div class="detail-page-headings">
  <a href="/manage-members">
    <button class="btn btn-outline-secondary" type="button">
      Back To Manage Members
    </button>
  </a>
    <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#edit-member">
      Edit Details
    </button>
</div>
<br>
<!-- Edit Detail Model ================== -->
<div class="modal fade" id="edit-member" tabindex="-1" role="dialog" aria-labelledby="edit-member-modal-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="edit-member-modal-title"><b>Edit Member Details</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
      </div>
      <!-- Form for new store adding -->
      <form action="#" method="post" class="was-validated">

        <div class="modal-body">
            <!-- member id -->
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="member-id">Member Id</label>
                <input type="text" class="form-control" id="member-id" placeholder="Enter Member Id" name="member-id" maxlength="5" required value="{{member_data.member_id}}">
              </div>
              <!-- member phno -->
              <div class="form-group col-md-7">
                  <label for="member-phno">Phone Number</label>
                  <input type="text" class="form-control" id="member-phno" placeholder="Enter Member Phone Number" name="member-phno" maxlength="12" required value="{{member_data.member_phno}}">
              </div>
              </div>
              <!-- member name -->
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="member-name">Member Name</label>
                  <input type="text" class="form-control" id="member-name" placeholder="Enter Member Name" name="member-name" maxlength="60" required value="{{member_data.member_name}}">
                </div>
              </div>
              <!-- member email -->
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="member-email">Member Email</label>
                  <input type="email" class="form-control" id="member-email" placeholder="Enter Member Email" name="member-email" maxlength="60" value="{{member_data.member_email}}">
                </div>
              </div>
              <!-- member address -->
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="member-address">Member Address</label>
                  <textarea class="form-control" id="member-address" rows="3" placeholder="Enter Member Address" required name="member-address" style="resize:none;">{{member_data.member_address}}</textarea>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-outline-success">
                <img src="{{url_for('static', filename='app_default_icons/update.svg')}}" alt="Information" width="20" height="20" title="Update">
              Update</button>
            </div>
      </form>
          </div>
        </div>
      </div>

  <!-- ====================== card for information ======================= -->
  <div class="card-group detail-data-cards">
    <!-- card 1 -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">General Information</h5>
        <p class="card-text">
          <table class="table table-dark table-hover">
            <tr>
              <th scope="col">Id</th>
              <td>{{member_data.member_id}}</td>
            </tr>
            <tr>
              <th scope="col">Name</th>
              <td>{{member_data.member_name}}</td>
            </tr>
            <tr>
              <th scope="col">Phone Number</th>
              <td>{{member_data.member_phno}}</td>
            </tr>
            <tr>
              <th scope="col">Email</th>
              {% if member_data.member_email %}
              <td class="bg-success">{{member_data.member_email}}</td>
              {% else %}
              <td class="bg-danger">No Email Provided</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="col">Address</th>
              <td>{{member_data.member_address}}</td>
            </tr>
          </table>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">This Is General Information Of Member : {{member_data.member_name}}</small>
      </div>
    </div>
    <!-- card 1 -->

    <!-- card 2 -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Detail Information</h5>
        <p class="card-text">
          <table class="table table-dark table-hover">
            <tr>
              <th scope="col">Membership Date</th>
              <td>{{member_data.date_of_membership}}</td>
            </tr>
            <tr>
              <th scope="col">No Of Products Buyed</th>
              {% if member_data.total_buy == 0 %}
              <td class="bg-danger">{{member_data.total_buy}}</td>
              {% else %}
              <td class="bg-success">{{member_data.total_buy}}</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="col">Revenue Generated</th>
              {% if member_data.gen_rev == 0%}
              <td class="bg-danger">{{member_data.gen_rev}}</td>
              {%else%}
              <td class="bg-success">{{member_data.gen_rev}}</td>
              {%endif%}
            </tr>
            <tr>
              <th scope="col">Profit Generated</th>
              {% if member_data.gen_profit == 0%}
              <td class="bg-danger">{{member_data.gen_profit}}</td>
              {%else%}
              <td class="bg-success">{{member_data.gen_profit}}</td>
              {%endif%}
            </tr>
            <tr>
              <th scope="col">Discount Given</th>
              {% if member_data.discount_given == 0%}
              <td class="bg-danger">{{member_data.discount_given}}</td>
              {%else%}
              <td class="bg-success">{{member_data.discount_given}}</td>
              {%endif%}
            </tr>
          </table>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">This Is Detail Information Of Member : {{member_data.member_name}}</small>
      </div>
    </div>
    <!-- card 2 -->
    </div>

<br>

<!-- table to show by date data -->
<div class="card data-table-card">
<div class="card-body ">

<table class="table table-hover table-bordered MyDataTables" style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Paid Amount</th>
            </tr>
        </thead>
        <tbody>
          {% for data in member_sales_data %}
          <tr>
            <td>{{data.date}}</td>
            <td>{{data.prod_name}}</td>
            <td>{{data.qty}}</td>
            <td>{{data.paid_amount}}</td>
          </tr>
          {% endfor %}
        </tbody>
  </table>
</div>
<div class="card-footer table-detail-footer">
  <small class="text-muted">All Details For Member : {{member_data.member_name}}</small>
</div>
</div>
{% endblock %}
