{% extends "forget_layout.html" %}
{% block body%}
<div class="login-custom" style="width: auto;">
  <form class="text-center" action="#" method="post">

  <div class="card-header">
    <h1>Forget Your Identity ?</h1>
  </div>
  <div class="card-body">
    <!-- User Name -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="username">
          <img src="{{url_for('static', filename='app_default_icons/mail.svg')}}" alt="UserName" width="32" height="24" title="UserName">
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Enter Your User Name" aria-label="Username" aria-describedby="username" name="forget-username" maxlength="20">
    </div>
    <!-- User Name -->
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-danger btn-lg btn-block" title="LogIn To Application">
      Submit
    </button>
  </div>
  </form>
  </div>
{% endblock %}
