{% extends "user_layout.html" %}
{% block body%}
<br>

<div class="user-forms">
  <form action="#" name="sell-to-non-members" method="post" class="was-validated">
    <!-- row 1 -->
    <div class="form-row">
      <div class="form-group col-md-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="buyername">
              <img src="{{url_for('static', filename='app_default_icons/user.svg')}}" alt="BuyerName" width="32" height="24" title="Buyer Name">
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Enter Buyer Name" aria-label="BuyerName" aria-describedby="buyername" required maxlength="50" name="buyer-name">
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="buyerphno">
              <img src="{{url_for('static', filename='app_default_icons/phone.svg')}}" alt="BuyerPhoneNumber" width="32" height="24" title="Buyer Phone No">
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Enter Buyer Phone Number" aria-label="Buyerphno" aria-describedby="buyerphno" required maxlength="12" name="buyer-phno">
        </div>
      </div>
    </div>
    <!-- row 1 -->
    <!-- row 2 -->
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="buyerloc">
              <img src="{{url_for('static', filename='app_default_icons/location2.svg')}}" alt="BuyerName" width="32" height="24" title="Buyer Name">
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Enter Buyer Address (Location)" aria-label="Buyerloc" aria-describedby="buyerloc" maxlength="120" name="buyer-loc">
        </div>
      </div>
    </div>
    <!-- row 2 -->
    <!-- row 3 -->
    <div class="form-row">
      <div class="form-group col-md-8">
      <div class="input-group mb-3">
        <span class="input-group-text" id="prodname">
          <img src="{{url_for('static', filename='app_default_icons/product_to_sell.svg')}}" alt="ProductName" width="32" height="24" title="Product Name">
        </span>
          <select id="inputStatus" class="form-control selectprod" name="prod-name" aria-describedby="prodname" required>
            <option value="" selected>No Selected</option>
            {% for prod in products %}
            <option>{{prod}}</option>
            {% endfor %}
          </select>
      </div>
      <small id="prodname" class="form-text text-muted">
        Select The Product From Here
      </small>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="prodqty">
              <img src="{{url_for('static', filename='app_default_icons/quantity2.svg')}}" alt="ProductQuantity" width="32" height="24" title="Quantity">
            </span>
          </div>
          <input type="number" class="form-control" placeholder="Enter Product Quantity" aria-label="prodqty" aria-describedby="prodqty" maxlength="5" required name="prod-qty">
        </div>
        <small id="prodqty" class="form-text text-muted">
          Enter Product Quantity
        </small>
      </div>
    </div>
    <hr>
    <!-- row 3 -->
    <div class="form-row">
    <div class="form-group col-md-12">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Sell The Product</button>
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
    <a href="/download-invoice/recent" class="btn btn-outline-dark btn-lg btn-block" role="button">Create Recent Invoice</a>
    </div>
    <div class="form-group col-md-6">
    <button type="button" class="btn btn-outline-danger btn-lg btn-block" onclick="reset();">Clear</button>
    </div>
    </div>
  </form>
</div>
{% endblock %}
